<div class="settings-title text-center">
  <h3>{{#translate}}settings_header{{/translate}}</h3>
</div>
<div class="main-card card mb-3">
  <div class="card-body">
    <p class="settings-title mb-2">
      {{#translate}}settings_title{{/translate}}
    </p>
    <p class="text-muted text-center settings-msg">
      {{#translate}}you_are_sign_in_as{{/translate}} {{email}}
      {{#translate}}not_you{{/translate}}
    </p>

    <ul class="settings-list list-unstyled">
      <li>
        <div class="form-check">
          <input
            class="form-check-input float-right"
            type="checkbox"
            value=""
            id="defaultCheck1"
          />
          <label class="form-check-label pl-0" for="defaultCheck1">
            {{#translate}}do_not_display_my_order{{/translate}}
          </label>
        </div>
      </li>
      <li>
        <div class="form-check">
          <input
            class="form-check-input float-right"
            type="checkbox"
            value=""
            id="defaultCheck2"
          />
          <label class="form-check-label pl-0" for="defaultCheck2">
            {{#translate}}do_not_display_activation{{/translate}}
          </label>
        </div>
      </li>
      <li>
        <div class="form-check">
          <input
            class="form-check-input float-right"
            type="checkbox"
            value=""
            id="defaultCheck3"
          />
          <label class="form-check-label pl-0" for="defaultCheck3">
            {{#translate}}do_not_display_product_search{{/translate}}
          </label>
        </div>
      </li>
      <li>
        <div class="form-check">
          <input
            class="form-check-input float-right"
            type="checkbox"
            value=""
            id="defaultCheck4"
          />
          <label class="form-check-label pl-0" for="defaultCheck4">
            {{#translate}}allow_data_collection{{/translate}}
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>
